<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tarena.protop" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/program"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".view.MainNews"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>
        <activity
            android:name=".view.NewsInfoActivity"
            android:label="@string/title_activity_news_info"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".view.MyReadActivity"
            android:label="@string/title_activity_my_read"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".view.FavoActivity"
            android:label="@string/title_activity_favo"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".view.MyBlogActivity"
            android:label="@string/title_activity_my_blog"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".view.FlashActivity"
            android:label="@string/title_activity_flash"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
